.app-container {
  position: relative;
  min-height: 100vh;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alert{
  background-color: #8673b92b !important;
  color: black !important ;
  font-size: 16px !important;
  margin-left: 100px;
  margin-right: 100px;
}